/* Hero Image */
.HeroThree-Container{
    background-image: url(/src//Assets//SafteyHero.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.HeroThree-Container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.560); /* Semi-dark gradient */
    z-index: 1;
}

/* Hero Text */
.HeroThree-text{
    position: relative;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 4.2rem;
    z-index: 2;
    top: 50px;
    letter-spacing: 0.5rem;
}

.HeroThree-subtext {
    font-size: 2rem; /* Smaller size for the second line */
    display: block; /* Ensures it stays on its own line */
    margin-top: 130px; /* Optional spacing adjustment */
}

@media (max-width: 768px){
    
}

/* @media (max-width: 600px){
    }
} */