.HeroTwo-Section{
    background-color: #0476D0;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.HeroTwo-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    color: white;
}

.HeroTwo-Header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -230px;
    font-weight: bold;
    font-size: 2.0rem;
    text-transform: uppercase;
}

#HeroTwo-Borderline{
    position: absolute;
    border: 0.1px solid white;
    width: 40%;
    margin: 20px 0;
    margin-top: -80px;
}