.FooterOneButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.7rem 0.5rem;
    color: white;
    border: 0.07rem solid white;
    background-color: none;
    border-radius: 0.50rem;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
    margin-left: auto; /* Moves the button to the right */
    margin-right: 50px;
    margin-top: 130px;
}

.FooterOneButton:hover{
    background-color: white;
    color: #0476D0;
}

/* responsive FooterOne settings  */

@media (max-width: 768px){
    .FooterOneButton{
        display: inline-block;
        position: relative;
        left:20px;
        top: 40px;
    }
}


@media (max-width: 600px){
    .FooterOneButton{
        display: inline-block;
        position: relative;
        left:20px;
        top: 60px;
        font-size: 1.2rem;
    }
}