.FooterOneButton{
    display: inline-block;
    position: relative;
    left:1000px;
    bottom: 180px;
    padding: 1.5rem 2rem;
    margin-top: 20px;
    color: white;
    border: 0.15rem solid white;
    border-radius: 0.25rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.FooterOneButton:hover{
    background-color: white;
    color: #0476D0;
}

/* responsive FooterOne settings  */

@media (max-width: 768px){
    .FooterOneButton{
        display: inline-block;
        position: relative;
        left:380px;
        bottom: 110px;
    }
}


@media (max-width: 600px){
    .FooterOneButton{
        display: inline-block;
        position: relative;
        left:260px;
        bottom: 90px;
    }
}