.Safety-Section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160vh;
    width: 100%;
}

/* Safety Content */
.Safety-Content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

/* Header Text */
.Safety-Header{
    flex: 1;
    padding: 20px;
}
.Safety-Header h1{
    font-size: 3.7rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.Safety-text h2{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.Safety-text ul{
    margin: 0;
    padding: 0 0 20px 20px;
    list-style-type: disc;
    list-style-position: inside;
}

.Safety-text ul li{
    font-size: 1.2rem;
    line-height: 1.8;
}

/* Safety Img */
.Safety-Img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.Safety-Img img{
    max-height: 130vh;
    max-width: 90%;
    margin-top: 120px;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    border-radius: 0.5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}