.about-section{
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    background-color: #f3f4f6;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.about-content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 90px;
}

.about-text{
    flex: 1;
    padding-right:  2rem;
    margin-bottom: 2rem;
}

.image-content{
    flex: 1;
}
.about-text h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    line-height: 1.4;
}
.about-text p {
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 1.125rem;
    color: #374151;
}

.cta-button{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.cta-button:hover{
    background-color: #2563eb;
}
.image-content img{
    height: 90vh;
    width: 450px;
    object-fit: cover;
    border-radius: 0.5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px){
    .about-content{
        flex-direction: row;
        align-items: center;
    }
    .about-text{
        padding-right: 3rem;
    }
}