.BannerOne-Section{
    background-image: url("../../../Assets//WaterTank.jpg");
    background-size: cover;
    background-position: center;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.BannerOne-Section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Semi-dark gradient */
    z-index: 1;
}
.BannerOne-Content{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
}
.BannerOne-Header{
    font-size: 3.0rem;
}
.BannerOne-Content p{
    font-size: 1.5rem;
    max-width: 1200px;
    margin: 0 auto 1.5rem auto;
    text-align: center;
    line-height: 1.6;
}