.BannerOne-Section{
    background-image: url("../../../Assets//WaterTank.jpg");
    background-size: 88% auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    display: flex;
}