.FooterOne-Section {
    background-color: #0476D0;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    overflow: hidden;
}

.FooterOne-Container{
    display: flex; 
    flex-direction: column;
    margin-left: 40px;
}

.FooterOne-Logo h2 {
    margin-top: 50px;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#borderline {
    border: 0.1px solid white;
    width: 80%;
    margin: 20px 0;
    margin-top: 50px;
}

.FooterOne-Content h2 {
    font-size: 2.0rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 0;    
    margin-top:60px;
}    

/* Responsive FooterOne  */
@media (max-width: 768px){
    .FooterOne-Section {
        background-color: #0476D0;
        display: flex;
        justify-content: left;
        align-items: left;
        height: 40vh;
    }
    .FooterOne-Logo h2 {
        order: 1;
        font-size: 1.8rem;
        font-weight: bold;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    #borderline {
        border: 0.1px solid white;
        width: 138%;
        margin: 20px 0;
        margin-top: 10px;
    }
    
    .FooterOne-Content h2 {
        font-size: 1.7rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        margin: 20px 0;
        margin-top: 20px;
        width: 70%;
    } 
}

@media (max-width: 600px){

}