.FooterOne-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0476D0;
    height: 40vh;
    width: 100%;
    overflow-y: hidden;
}

.FooterOne-Content{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 50%;
    margin-left: 50px;
}

.FooterOne-Logo h2 {
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#borderline {
    border: 0.1px solid white;
    width: 75%;
    margin: 20px 0;
    margin-top: 20px;
}

.FooterOne-Ending{
    display: flex;
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 0;    
    margin-top:30px;
}   

/* Responsive FooterOne  */
@media (max-width: 768px){
    .FooterOne-Section {
        background-color: #0476D0;
        display: flex;
        justify-content: left;
        align-items: left;
        height: 40vh;
    }
    .FooterOne-Logo h2 {
        order: 1;
        font-size: 1.8rem;
        font-weight: bold;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    #borderline {
        border: 0.1px solid white;
        width: 138%;
        margin: 20px 0;
        margin-top: 10px;
    }
    
    .FooterOne-Content h2 {
        font-size: 1.7rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        margin: 20px 0;
        margin-top: 20px;
        width: 70%;
    } 
}

@media (max-width: 600px){
    .FooterOne-Section {
        background-color: #0476D0;
        display: flex;
        justify-content: left;
        align-items: left;
        height: 40vh;
    }
    .FooterOne-Logo h2 {
        order: 1;
        font-size: 1.6rem;
        font-weight: bold;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    #borderline {
        border: 0.1px solid white;
        width: 150%;
        margin: 20px 0;
        margin-top: 10px;
    }
    
    .FooterOne-Content h2 {
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        margin: 20px 0;
        margin-top: 20px;
        width: 70%;
    } 
}