.BannerThree-Section{
    background-color: gray;
    background-size: cover;
    background-position: center;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}